---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import WebLink from "@components/WebLink.astro";

const websites = [
  {
    title: "Twitter",
    link: "https://x.com/UniTy2780",
    img: "/twitter.jpg",
    side: "left",
  },
  {
    title: "Instagram",
    link: "https://www.instagram.com/t.b.d.esigned/",
    img: "/Instagram.webp",
    side: "right",
  },
  {
    title: "Portfolio",
    link: "https://tyler-boggi.netlify.app/",
    img: "/portfolio.png",
    side: "left",
  },
    {
    title: "LinkedIn",
    link: "https://www.linkedin.com/in/tyler-boggi-8192202a8/",
    img: "/linkedIn.webp",
    side: "right",
  },
];
---

<Layout title="Astro Starter">
  <Container>
    <div class="links">
    {websites.map(function (web){
      return <WebLink website={web} />
    })}
    </div>
    <div class="selfInfo">
      <h2>Tyler Boggi</h2>
      <h3>Graphic Designer</h3>
    </div>
  </Container>
</Layout>

<style>

.links{
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 40px;
}

.selfInfo{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

h2{
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

h3{
  font-size: 48px;
  font-weight: 400;
  margin-top: -15px;
  text-align: center;
}
</style>
