---
const { website } = Astro.props;

const links = [
    '1',
    '2',
]
---

<article>
    <a href={website.link} target="_blank"><img src={website.img}></img></a>
    <!-- <h3>{website.title}</h3> -->
</article>

<style>
    article{
        /* border: 1px solid white; */
        border-radius: 20px;
        height: 10rem;
        width: 10rem;
        margin: 0 auto;
        transition: all 0.3s;
    }

    article:hover{
        transform: scale(110%);
    }

    img {
        width: fit-content;
    }
</style>