---
const { title } = Astro.props;
import SkipLink from "@components/SkipLink.astro";
import CSSReset from "../global/CSSReset.astro";
import Theme from "../global/Theme.astro";

// This file creates the basic HTML page structure and sets up our CSS reset and theme. We will use this Layout component in all of our pages.
---

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3Y8XDZBRR2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3Y8XDZBRR2');
  </script>

  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <CSSReset />
  <Theme />
</head>
<body>
  <SkipLink />
  <!--
  if you are going to use a nav, it should go here, 
  between the skip link and the <main> tag
   -->
  <main id="main-content">
    <slot />
  </main>
  <!--
  if you are going to use a footer, it should go here
   -->
</body>
